# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
dados

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
indice = pd.Series([1900, 1920, 1940, 1960, 1980, 2000, 2020])
indice

0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturas = pd.Series(dic_temperaturas)
temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [10]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(np.random.normal(100, 10, (20,3)))
df

             0           1           2
0    93.415349   95.659160  112.661573
1    98.749334  110.584242  101.673972
2   109.670481   92.121637   90.228342
3    94.534404  112.763411  100.970362
4   105.971245   93.874898   70.705559
5    96.914699  114.870148   97.695862
6    93.620474   93.349842   87.452976
7   107.947285  107.039024   92.311473
8    96.514990   86.463155   88.519800
9   107.639415   82.595603   84.996023
10  109.238073   99.770030  101.423127
11   94.097600  122.708270   90.363126
12  111.306345  104.404797  103.895801
13   97.487319  122.540274   63.525426
14  107.046122   96.730625  112.708941
15  105.071412   85.432918   88.009726
16  108.379550  108.307513   89.421349
17   93.573173   93.864822  106.812854
18   93.218513  100.660459  116.338408
19  109.002005   87.184483   96.157200

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [12]:
#seu código aqui
df.index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
df

             0           1           2
1    93.415349   95.659160  112.661573
2    98.749334  110.584242  101.673972
3   109.670481   92.121637   90.228342
4    94.534404  112.763411  100.970362
5   105.971245   93.874898   70.705559
6    96.914699  114.870148   97.695862
7    93.620474   93.349842   87.452976
8   107.947285  107.039024   92.311473
9    96.514990   86.463155   88.519800
0   107.639415   82.595603   84.996023
11  109.238073   99.770030  101.423127
12   94.097600  122.708270   90.363126
13  111.306345  104.404797  103.895801
14   97.487319  122.540274   63.525426
15  107.046122   96.730625  112.708941
16  105.071412   85.432918   88.009726
17  108.379550  108.307513   89.421349
18   93.573173   93.864822  106.812854
19   93.218513  100.660459  116.338408
20  109.002005   87.184483   96.157200

In [16]:
df.columns = ['x1', 'x2', 'x3']
df

            x1          x2          x3
1    93.415349   95.659160  112.661573
2    98.749334  110.584242  101.673972
3   109.670481   92.121637   90.228342
4    94.534404  112.763411  100.970362
5   105.971245   93.874898   70.705559
6    96.914699  114.870148   97.695862
7    93.620474   93.349842   87.452976
8   107.947285  107.039024   92.311473
9    96.514990   86.463155   88.519800
0   107.639415   82.595603   84.996023
11  109.238073   99.770030  101.423127
12   94.097600  122.708270   90.363126
13  111.306345  104.404797  103.895801
14   97.487319  122.540274   63.525426
15  107.046122   96.730625  112.708941
16  105.071412   85.432918   88.009726
17  108.379550  108.307513   89.421349
18   93.573173   93.864822  106.812854
19   93.218513  100.660459  116.338408
20  109.002005   87.184483   96.157200

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [17]:
# seu código aqui
df['Media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       Media
1    93.415349   95.659160  112.661573  100.578694
2    98.749334  110.584242  101.673972  103.669183
3   109.670481   92.121637   90.228342   97.340153
4    94.534404  112.763411  100.970362  102.756059
5   105.971245   93.874898   70.705559   90.183901
6    96.914699  114.870148   97.695862  103.160236
7    93.620474   93.349842   87.452976   91.474430
8   107.947285  107.039024   92.311473  102.432594
9    96.514990   86.463155   88.519800   90.499315
0   107.639415   82.595603   84.996023   91.743680
11  109.238073   99.770030  101.423127  103.477076
12   94.097600  122.708270   90.363126  102.389665
13  111.306345  104.404797  103.895801  106.535648
14   97.487319  122.540274   63.525426   94.517673
15  107.046122   96.730625  112.708941  105.495229
16  105.071412   85.432918   88.009726   92.838019
17  108.379550  108.307513   89.421349  102.036137
18   93.573173   93.864822  106.812854   98.083617
19   93.218513  100.660459  116.338408  103.405793
20  109.002005   87.184483   96.157200   97.447896

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [19]:
# seu código aqui
df['log_med'] = np.log(df['Media'])
df

            x1          x2          x3       Media   log_med
1    93.415349   95.659160  112.661573  100.578694  4.610940
2    98.749334  110.584242  101.673972  103.669183  4.641205
3   109.670481   92.121637   90.228342   97.340153  4.578212
4    94.534404  112.763411  100.970362  102.756059  4.632358
5   105.971245   93.874898   70.705559   90.183901  4.501851
6    96.914699  114.870148   97.695862  103.160236  4.636283
7    93.620474   93.349842   87.452976   91.474430  4.516059
8   107.947285  107.039024   92.311473  102.432594  4.629205
9    96.514990   86.463155   88.519800   90.499315  4.505342
0   107.639415   82.595603   84.996023   91.743680  4.518999
11  109.238073   99.770030  101.423127  103.477076  4.639350
12   94.097600  122.708270   90.363126  102.389665  4.628786
13  111.306345  104.404797  103.895801  106.535648  4.668480
14   97.487319  122.540274   63.525426   94.517673  4.548787
15  107.046122   96.730625  112.708941  105.495229  4.658666
16  105.071412   85.432918   88.009726   92.838019  4.530856
17  108.379550  108.307513   89.421349  102.036137  4.625327
18   93.573173   93.864822  106.812854   98.083617  4.585820
19   93.218513  100.660459  116.338408  103.405793  4.638661
20  109.002005   87.184483   96.157200   97.447896  4.579318